/* General styles */
body{
	font-family: 'Mukta', sans-serif;
	line-height: 1.5rem;
}

a {
	text-decoration: none;
}

.input-text-sign, .input-email-sign, .input-password-sign{
	border: 1px solid #999;
	border-radius: 5px;
	-webkit-appearance: none;
	font-family: 'Mukta', sans-serif;
	width: 100%;
	padding: 10px 0px; 
	text-align: center;
}

.name{
	color: #0545ad;
}

/* index.html styles */
.body-wrapper{
	height: 100%;
	width: 100%;
}

#index-main{
	height: 90vh;
	background-image: url("../img/landing.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.landing{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.landing h1, p {
	color: #fff;
}

.landing h1{
	font-size: 2.5rem;
	padding-bottom: 20px;
}

.landing p{
	padding-bottom: 10px;
}

.button{
	text-decoration: none;
	color: #fff;
	padding: 2px 40px 2px 40px;
	border: 1px solid #fff;
	margin-right: 30px;
}

.button:hover{
	background-color: white;
	color: black;
}

#index-footer{
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e2e2e2;
}

.footer-content {
	text-align: center;
}

.footer-content small{
	font-size: 0.75rem;
}

.copyright{
	color: #47fff2;
}

/* Sign Up Page */
#sign-up-main{
	display: flex;
	height: 90vh;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.sign-up-content{
	border-radius: 5px;
    background-color: #e2e2e2;
    padding: 20px 40px;
}

.sign-up-content h1{
	font-size: 2.5rem;
	padding-bottom: 20px;
}

.sign-up-content p{
	color: #000;
	padding-bottom: 20px;
}

.submit{
	width: 100%;
	padding: 13px 0px;
	border: 1px solid #fff;
	cursor: pointer;
	background-color: #0545ad;
	color: #fff;
}

.submit:hover{
	border: 1px solid #0545ad;
	background-color: #fff;
	color: #0545ad;
}
